<!doctype html>
<html>
<head>
<title>ONIE</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
{% block javascript %}{% endblock %}
</head>
<body>
<div class="badge">Beta</div>
<div class=page>
  <div style="margin-left: 50px;">
  <h1>ONIE</h1>
  <em>&copy; 2017 Pluribus Networks Inc.</em>
  </div>
  <div class=metanav>
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
</body>
</html>
