{% extends "layout.html" %}
{% block javascript %}
<script>
function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(tabName).style.display = "block";
    if (evt) {
        if (evt.currentTarget) {
            evt.currentTarget.className += " active";
        }
    }
}

function showSaveButton() {
  document.getElementById('save-button').style.display = "block";
  document.getElementById('hosts-button').style.display = "none";
}

function setDefaultTab(name) {
    var button = "button-".concat(name);
    var tab = "tab-".concat(name);
    openTab(this, tab);
    document.getElementById(button).className += " active";
}

window.onload = function(e) {
  hash = window.location.hash.substr(1);
  switch (hash) {
      case 'ansible':
      case 'pnc':
      case 'dhcp':
          setDefaultTab(hash);
          break;
      default:
          setDefaultTab('dhcp');
          break;
  }
};
</script>
{% endblock %}
{% block body %}
<div class="tab">
  <button id='button-pnc' class="tablinks" onclick="openTab(event, 'tab-pnc')">PN Cloud</button>
  <button id='button-dhcp' class="tablinks" onclick="openTab(event, 'tab-dhcp')">DHCP</button>
  <button id='button-ansible' class="tablinks" onclick="openTab(event, 'tab-ansible')">Ansible</button>
</div>

<div id="tab-pnc" class="tabcontent">
    <h3>Configure ONIE Details</h3>
    <p/>
    <form action="{{ url_for('configure_onie') }}" method=post class="add-entry">
      <table>
        <tr><th>ONIE Version:</th><td><input type="text" size="40" name="onie_version" value="{{ onie.onie_version }}" placeholder="2.6.1-2060112059"/></td></tr>
        <tr><th>PN Cloud Username:</th><td><input type="text" size="40" name="username" value="{{ onie.username }}" placeholder="user@example.com"/></td></tr>
        <tr><th>PN Cloud Password:</th><td><input type="password" size="40" name="password" placeholder="{% if onie.password %}password set{% endif %}"/></td></tr>
        <tr><td/><td><input type="submit" value="Set"/></td></tr>
      </table>
    </form>
    <p/><hr/>
    <a href="/images">Download installers and activation keys</a><br/>
    <a href="{{ url_for('upload_onie') }}">Upload ONIE Installer</a><br/>
    <a href="{{ url_for('upload_licences') }}">Upload Licences</a><br/>
</div>

<div id="tab-ansible" class="tabcontent">
    <h3>Configure Ansible</h3>
    <p/>
    <form action="{{ url_for('configure_ansible') }}" method=post class="add-entry">
      <table>
        <tr><th>SSH Username:</th><td><input type="text" size="40" name="ssh_user" value="{{ ansible.ssh_user }}" placeholder="pluribus"/></td></tr>
        <tr><th>SSH Password:</th><td><input type="password" size="40" name="ssh_pass" placeholder="{% if ansible.ssh_pass %}password set{% endif %}"/></td></tr>
        <tr><td/><td><input type="submit" value="Set"/></td></tr>
      </table>
    </form>

  <hr/>
  <ul class=entries>
  <form action="{{url_for('ansible') }}" method="post">
  <table class="paddedcells">
    <tr><th/><th>Hostname</th><th>IP</th><th>Leaf</th><th>Spline</th><td/></tr>
  {% for entry in entries %}
    <tr><td><input type="checkbox" name="switch" value="{{ entry.hostname }}"/></td>
        <td>{{ entry.hostname }}</td>
        <td>{{ entry.ip }}</td>
        <td><input type="radio" name="tag-{{ entry.hostname }}" value="leaf" onclick="showSaveButton(this);"{% if entry.tag == "leaf" %} checked{% endif %}></td>
        <td><input type="radio" name="tag-{{ entry.hostname }}" value="spine" onclick="showSaveButton(this);"{% if entry.tag == "spine" %} checked{% endif %}></td>
        <td><a href="{{ url_for('remove_entry', entry_id=entry.id) }}">remove</a></td>
    </tr>
  {% endfor %}
  {% if entries %}
    <tr><td colspan="8" align="left"><input id="save-button" style="display: none;" type="submit" name="save-tags" value="Save Tag Changes"/></td></tr>
    <tr><td colspan="8" align="left"><input id="hosts-button" style="display: block;" type="submit" name="gen-hosts" value="Generate Ansible Hosts File for Selected Switches"/></td></tr>
  {% endif %}
  </table>

  {% if hostfiles %}
  <hr/>
  <h3>Generated Hostfiles</h3>
  <ul>
      {% for hostfile in hostfiles %}
      <li><a href="/images/ansible_hosts/{{ hostfile.filename }}" title="Hosts: {{ hostfile.hosts }}">{{ hostfile.filename }}</a></li>
      {% endfor %}
  </ul>
  {% endif %}
</div>

<div id="tab-dhcp" class="tabcontent">
    <h3>Configure the DHCP subnet</h3>
    <form action="{{ url_for('configure_subnet') }}" method=post class="add-entry">
      <table>
        <tr><th>DHCP Interface</th><td><input type="text" size="40" name="dhcp_interface" value="{{ server.dhcp_interface }}" placeholder="eth0"/>
            {% if server.server_ip %}<small>(Server IP: {{ server.server_ip.ip }})</small>{% endif %}</td></tr>
        <tr><th>Subnet:</th><td><input type="text" size="40" name="subnet" value="{{ server.subnet }}" placeholder="10.9.0.0"/></td></tr>
        <tr><th>Subnet Mask:</th><td><input type="text" size="40" name="subnet_mask" value="{{ server.subnet_mask }}" placeholder="255.255.0.0"/></td></tr>
        <tr><th>Broadcast Address:</th><td><input type="text" size="40" name="broadcast_address" value="{{ server.broadcast_address }}" placeholder="10.9.255.255"/></td></tr>
        <tr><th>DHCP Range Start:</th><td><input type="text" size="40" name="dhcp_range_start" value="{{ server.dhcp_range_start }}" placeholder="10.9.31.142"/></td></tr>
        <tr><th>DHCP Range End:</th><td><input type="text" size="40" name="dhcp_range_end" value="{{ server.dhcp_range_end }}" placeholder="10.9.31.149"/></td></tr>
        <tr><th>Primary DNS:</th><td><input type="text" size="40" name="dns_primary" value="{{ server.dns_primary }}" placeholder="10.9.10.1"/></td></tr>
        <tr><th>Secondary DNS:</th><td><input type="text" size="40" name="dns_secondary" value="{{ server.dns_secondary }}" placeholder="10.20.4.1"/></td></tr>
        <tr><th>Domain Name:</th><td><input type="text" size="40" name="domain_name" value="{{ server.domain_name }}" placeholder="pluribusnetworks.com"/></td></tr>
        <tr><th>Gateway:</th><td><input type="text" size="40" name="gateway" value="{{ server.gateway }}" placeholder="10.9.9.1"/></td></tr>
        <tr><th>Default URL:</th><td><input type="text" size="40" name="default_url" value="{{ server.default_url }}" placeholder="http://{% if server.server_ip %}{{ server.server_ip.ip }}{% else %}10.9.10.127{% endif %}:{{ server.server_port or '4000' }}/images/onie-installer"></td></tr>
        <tr><td/><td><input type="submit" value="Set"/></td></tr>
      </table>
    </form>
    <p/>
    <h3>Add a DHCP Host Entry</h3>
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <table>
        <tr><th>Hostname:</th><td><input type="text" size="40" name="hostname" placeholder="switch1"/></td></tr>
        <tr><th>IP:</th><td><input type="text" size="40" name="ip" placeholder="10.9.31.214"/></td></tr>
        <tr><th>MAC:</th><td><input type="text" size="40" name="mac" placeholder="8C:EA:1B:36:FF:FF"/></td></tr>
        <tr><th>Device ID:</th><td><input type="text" size="40" name="device_id" placeholder="638064ffffff"/></td></tr>
        <tr><th>Device Type:</th><td><input type="text" size="40" name="device_type" placeholder="40g"/></td></tr>
        <tr><td/><td><input type="submit" value="Add"/></td></tr>
        <tr/>
        <tr><td colspan="2"><small><a href="{{ url_for('import_csv') }}">Import entries from CSV file</a></small></td></tr>
      </table>
    </form>

  <hr/>
  <ul class=entries>
  <table class="paddedcells">
    <tr><th>Hostname</th><th>IP</th><th>MAC</th><th>Device ID</th><th>Device Type</th><td/></tr>
  {% for entry in entries %}
    <tr>
        <td>{{ entry.hostname }}</td>
        <td>{{ entry.ip }}</td>
        <td>{{ entry.mac }}</td>
        <td>{{ entry.device_id }}</td>
        <td>{{ entry.device_type }}</td>
        <td><a href="{{ url_for('remove_entry', entry_id=entry.id) }}">remove</a></td>
    </tr>
  {% endfor %}
  </table>
  <p/>
  <hr/>
  <a href="/launch">Launch DHCP Server</a><br/>
</div>
{% endblock %}
