{% extends "layout.html" %}
{% block javascript %}
<script src="/static/jquery-3.2.1.min.js"></script>
<script src="/static/jquery.filtertable.min.js"></script>
<style>
.filter-table .quick { margin-left: 0.5em; font-size: 0.8em; text-decoration: none; }
.fitler-table .quick:hover { text-decoration: underline; }
td.alt { background-color: #ffc; background-color: rgba(255, 255, 0, 0.2); }
#logtext { padding: 1.5em; }
</style>
<script>
function openTab(evt, tabName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(tabName).style.display = "block";
    if (evt) {
        if (evt.currentTarget) {
            evt.currentTarget.className += " active";
        }
    }
}

function showSaveButton() {
  document.getElementById('save-button').style.display = "block";
  document.getElementById('hosts-button').style.display = "none";
}

function setDefaultTab(name) {
    var button = "button-".concat(name);
    var tab = "tab-".concat(name);
    openTab(this, tab);
    document.getElementById(button).className += " active";
}

function loadLogs() {
    $("#logdiv").load("{{ url_for('log_events') }}", function(respTxt, statusTxt, xhr) {
            setTimeout(loadLogs, 30000);
    });
}

function loadTsharkLogs() {
    $("#tsharkdiv").load("{{ url_for('tshark_log') }}", function(respTxt, statusTxt, xhr) {
            {% if tshark_status == "RUNNING" %}
            $("#tsharkdiv").scrollTop($("#tsharkdiv")[0].scrollHeight);
            setTimeout(loadTsharkLogs, 5000);
            {% endif %}
    });
}

{% if logcat_status == "RUNNING" %}
function loadAllLogs() {
    $("#alllogsdiv").load("{{ url_for('all_logs') }}", function(respTxt, statusTxt, xhr) {
            $("#alllogsdiv").scrollTop($("#alllogsdiv")[0].scrollHeight);
            setTimeout(loadAllLogs, 5000);
    });
}
{% endif %}

window.onload = function(e) {
  loadLogs();
  loadTsharkLogs();
  {% if logcat_status == "RUNNING" %}loadAllLogs();{% endif %}

  hash = window.location.hash.substr(1);
  switch (hash) {
      case 'ansible':
      case 'leases':
      case 'logs':
      case 'pnc':
      case 'dhcp':
          setDefaultTab(hash);
          break;
      default:
          setDefaultTab('pnc');
          break;
  }

  document.getElementById('csv-import').onchange = function() {
    document.getElementById('csv-import-form').submit();
  }

  document.getElementById('onie-upload').onchange = function() {
    document.getElementById('onie-upload-form').submit();
  }

  if (document.getElementById('lic-10g-upload')) {
    document.getElementById('lic-10g-upload').onchange = function() {
      document.getElementById('lic-10g-upload-form').submit();
    }
  }

  if (document.getElementById('lic-40g-upload')) {
    document.getElementById('lic-40g-upload').onchange = function() {
      document.getElementById('lic-40g-upload-form').submit();
    }
  }
};
</script>
{% endblock %}
{% block body %}
<div class="tab">
  <button id='button-pnc' class="tablinks" onclick="openTab(event, 'tab-pnc')">PN Cloud</button>
  <button id='button-dhcp' class="tablinks" onclick="openTab(event, 'tab-dhcp')">DHCP</button>
  <button id='button-ansible' class="tablinks" onclick="openTab(event, 'tab-ansible')">Ansible</button>
  <button id='button-leases' class="tablinks" onclick="openTab(event, 'tab-leases')">DHCP Leases</button>
  <button id='button-logs' class="tablinks" onclick="openTab(event, 'tab-logs')">Logs / Troubleshooting</button>
</div>

<div id="tab-pnc" class="tabcontent">
    <h3>Configure PN Cloud Details</h3>
    <p/>
    <form action="{{ url_for('configure_onie') }}" method=post class="add-entry">
      <table>
        <tr><th>PN Cloud Username:</th><td><input type="text" class="inputtext" name="username" value="{{ pnca.username }}" placeholder="user@example.com"/> <em>Username of the Pluribus Networks cloud account</em></td></tr>
        <tr><th>PN Cloud Password:</th><td><input type="password" class="inputtext" name="password" placeholder="{% if pnca.password %}password set{% endif %}"/> <em>Password of the Pluribus Networks cloud account</em></td></tr>
        <tr><td/><td><input type="submit" value="Set"/></td></tr>
      </table>
    </form>
    <p/><hr/>

    <h3>ONIE Installers</h3>
    {% if products  or uploaded %}
    <form action="{{ url_for('set_default_onie') }}" method="post">
    <table class="thinborder">
        <tr><th>Name</th><th>Version</th><th>Status</th><th>Default</th></tr>
    {% for product in products %}
    <tr><td>{{ product.name }}</td><td>{{ product.version }}</td><td>{% if product.__downloaded %}<a href="{{ http_base }}/images/{{ product.sw_pid }}">available</a>{% else %}<a href="{{ url_for('download_onie', installer=product.sw_pid, version=product.version) }}" class="button-narrow">download from PN Cloud</a>{% endif %}</td><td align="center" valign="center"><input type="radio" name="installer" value="{{ product.sw_pid }}"{% if not product.__downloaded %} disabled{% else %}{% if product.sw_pid == current %} checked{% endif %} onclick="this.form.submit()"{% endif %}></td></tr>
    {% endfor %}

    {% for ins in uploaded %}
    <tr><td>{{ ins.name }}</td><td>{{ ins.version }}</td><td><a href="{{ http_base }}/images/{{ ins.installer }}">uploaded, available</a></td><td align="center" valign="center"><input type="radio" name="installer" value="{{ ins.installer }}"{% if ins.installer == current %} checked{% endif %} onclick="this.form.submit()"></td></tr>
    {% endfor %}
    </table>
    </form>
    {% endif %}

    {% if current %}<br/><small>Default ONIE installer also available at: <strong><a href="{{ http_base }}/images/onie-installer">{{ http_base }}/images/onie-installer</a></strong></small>{% endif %}<br/>

    <form id="onie-upload-form" action="{{ url_for('upload_onie') }}" method=post enctype="multipart/form-data">
      <p><div class="upload-btn-wrapper">
         <button class="upload-btn">Upload ONIE Installer</button>
         <input id="onie-upload" type="file" name="onie_installer"/>
         </div>
    </form>

    <p/><hr/>

    <h3>Activation Keys</h3>
    {% if activation_keys %}
    <table class="thinborder">
        <tr><th>Type</th><td/></tr>
    {% for type, activation_key in activation_keys.items() %}
    <tr><td>{{ type }}</td><td>{% if activation_key %}<a href="{{ http_base }}{{ activation_key }}">available</a>{% else %}<a href="{{ url_for('download_activation_key', dtype=type) }}" class="button-narrow">download from PN Cloud</a>{% endif %}</td></tr>
    {% endfor %}
    </table>
    </p><hr/>
    {% endif %}

    <div>
    {% if not activation_keys['10g'] %}
    <form style="display: inline-block;" id="lic-10g-upload-form" action="{{ url_for('upload_licences') }}" method=post enctype="multipart/form-data">
      <p><div class="upload-btn-wrapper">
         <button class="upload-btn">Upload 10G License</button>
         <input id="lic-10g-upload" type="file" name="10g_license"/>
         </div>
    </form>
    {% endif %}

    {% if not activation_keys['40g'] %}
    <form style="display: inline-block;" id="lic-40g-upload-form" action="{{ url_for('upload_licences') }}" method=post enctype="multipart/form-data">
      <p><div class="upload-btn-wrapper">
         <button class="upload-btn">Upload 40G License</button>
         <input id="lic-40g-upload" type="file" name="40g_license"/>
         </div>
    </form>
    {% endif %}
    </div>

    {% if assets %}
    <h3>Assets</h3>
    <table class="thinborder">
        <tr><th>Hardware Model</th><th>Hostname</th><th>Device ID</th><th>IP Address</th><th>Last Connect</th></tr>
    {% for asset in assets %}
        <tr><td>{{ asset.hwPid }}</td><td>{{ asset.hostname }}</td><td>{{ asset.deviceId }}</td><td>{{ asset.ip }}</td><td>{{ asset.lastConnect }}</td></tr>
    {% endfor %}
    </table>
    <p/><hr/>
    {% endif %}

    <a href="{{ http_base }}/images">Available ONIE installers and activation keys</a><br/>
</div>

<div id="tab-ansible" class="tabcontent">
    <h3>Configure Ansible</h3>
    <p/>
    <form action="{{ url_for('configure_ansible') }}" method=post class="add-entry">
      <table>
        <tr><th>SSH Username:</th><td><input type="text" class="inputtext" name="ssh_user" value="{{ ansible.ssh_user or 'network-admin' }}" placeholder="network-admin"/> <em>Username Ansible will use to login to the host</em></td></tr>
        <tr><th>SSH Password:</th><td><input type="password" class="inputtext" name="ssh_pass" placeholder="{% if ansible.ssh_pass %}password set{% endif %}"/> <em>Password of the account Ansible will use to login to the host</em></td></tr>
        <tr><td/><td><input type="submit" value="Set"/></td></tr>
      </table>
    </form>

  {% if entries %}
  <hr/>
  <ul class=entries>
  <form action="{{url_for('ansible') }}" method="post">
  <table class="thinborder">
    <tr><th/><th>Hostname</th><th>IP</th><th>Leaf</th><th>Spine</th><td/></tr>
  {% for entry in entries %}
    <tr><td><input type="checkbox" name="switch" value="{{ entry.hostname }}"/></td>
        <td>{{ entry.hostname }}</td>
        <td>{{ entry.ip }}</td>
        <td align="center"><input type="radio" name="tag-{{ entry.hostname }}" value="leaf" onclick="showSaveButton(this);"{% if entry.tag == "leaf" %} checked{% endif %}></td>
        <td align="center"><input type="radio" name="tag-{{ entry.hostname }}" value="spine" onclick="showSaveButton(this);"{% if entry.tag == "spine" %} checked{% endif %}></td>
        <td><a href="{{ url_for('remove_entry', entry_id=entry.id) }}" class="button-narrow">remove</a></td>
    </tr>
  {% endfor %}
  {% if entries %}
    <tr><td colspan="8" align="left"><input id="save-button" style="display: none;" type="submit" name="save-tags" value="Save Tag Changes"/></td></tr>
    <tr><td colspan="8" align="left"><input id="hosts-button" style="display: block;" type="submit" name="gen-hosts" value="Generate Ansible Hosts File for Selected Switches"/></td></tr>
  {% endif %}
  </table>
  </form>
  {% endif %}

  {% if hostfiles %}
  <hr/>
  <h3>Generated Hostfiles</h3>
  <ul>
      {% for hostfile in hostfiles %}
      <li><a href="{{ http_base }}/images/ansible_hosts/{{ hostfile.filename }}" title="Hosts: {{ hostfile.hosts }}">{{ hostfile.filename }}</a></li>
      {% endfor %}
  </ul>
  {% endif %}
</div>

<div id="tab-dhcp" class="tabcontent">
    <h3>Configure the DHCP subnet</h3>
    <form action="{{ url_for('configure_subnet') }}" method=post class="add-entry">
      <table>
        <tr><th>DHCP Interface</th><td><input type="text" class="inputtext" name="dhcp_interface" value="{{ server.dhcp_interface }}" placeholder="eth0"/> <em>Interface the DHCP server should be listening on</em>
            {% if server.server_ip %}<br/><small><strong>Server IP: {{ server.server_ip.ip }}</strong></small>{% endif %}
            </td></tr>
        <tr><th>Subnet:</th><td><input type="text" class="inputtext" name="subnet" value="{{ server.subnet }}" placeholder="10.9.0.0"/> <em>The subnet the DHCP server will be servicing</em></td></tr>
        <tr><th>Subnet Mask:</th><td><input type="text" class="inputtext" name="subnet_mask" value="{{ server.subnet_mask }}" placeholder="255.255.0.0"/> <em>The subnet mask of the DHCP subnet</em></td></tr>
        <tr><th>Broadcast Address:</th><td><input type="text" class="inputtext" name="broadcast_address" value="{{ server.broadcast_address }}" placeholder="10.9.255.255"/> <em>Broadcast address for the subnet</em></td></tr>
        <tr><th>DHCP Range Start:</th><td><input type="text" class="inputtext" name="dhcp_range_start" value="{{ server.dhcp_range_start }}" placeholder="10.9.31.142"/> <em>The first IP of DHCP range</em></td></tr>
        <tr><th>DHCP Range End:</th><td><input type="text" class="inputtext" name="dhcp_range_end" value="{{ server.dhcp_range_end }}" placeholder="10.9.31.149"/> <em>The last IP of the DHCP range</em></td></tr>
        <tr><th>Primary DNS:</th><td><input type="text" class="inputtext" name="dns_primary" value="{{ server.dns_primary }}" placeholder="10.9.10.1"/> <em>The primary DNS server to be configured on the hosts</em></td></tr>
        <tr><th>Secondary DNS:</th><td><input type="text" class="inputtext" name="dns_secondary" value="{{ server.dns_secondary }}" placeholder="10.20.4.1"/> <em>The secondary DNS server to be configured on the hosts</em></td></tr>
        <tr><th>Domain Name:</th><td><input type="text" class="inputtext" name="domain_name" value="{{ server.domain_name }}" placeholder="pluribusnetworks.com"/> <em>The domain name to be configured on the hosts</em></td></tr>
        <tr><th>Gateway:</th><td><input type="text" class="inputtext" name="gateway" value="{{ server.gateway }}" placeholder="10.9.9.1"/> <em>The default gateway to be configueed on the hosts</em></td></tr>
        <tr><th>Default URL:</th><td><input type="text" class="inputtext" name="default_url" value="{{ server.default_url }}" placeholder="http://{% if server.server_ip %}{{ server.server_ip.ip }}{% else %}10.9.10.127{% endif %}:{{ server.server_port or '4000' }}/images/onie-installer"><em> The URL of the default ONIE installer</em></td></tr>
        <tr><td/><td><input type="submit" value="Set"/></td></tr>
      </table>
    </form>
    <p/>
    <h3>Add a DHCP Host Entry</h3>
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <table>
        <tr><th>Hostname:</th><td><input type="text" class="inputtext" name="hostname" placeholder="switch1"/> <em>This will become the hostname of the switch</em></td></tr>
        <tr><th>IP:</th><td><input type="text" class="inputtext" name="ip" placeholder="10.9.31.214"/> <em>This will become the IP address of the switch</em></td></tr>
        <tr><th>MAC:</th><td><input type="text" class="inputtext" name="mac" placeholder="8C:EA:1B:36:FF:FF"/> <em>This should be the system MAC of the switch</em></td></tr>
        <tr><th>Device ID:</th><td><input type="text" class="inputtext" name="device_id" placeholder="638064ffffff"/> <em>Should be in order receipt or nvplatform on shell</em></td></tr>
        <tr><th>Device Type:</th><td><input type="text" class="inputtext" name="device_type" placeholder="40g"/> <em>Specify if it is 40g or 10g or 100g platform</em></td></tr>
        <tr><th>Default URL:</th><td><input type="text" class="inputtext" name="default_url" placeholder="http://{% if server.server_ip %}{{ server.server_ip.ip }}{% else %}10.9.10.127{% endif %}:{{ server.server_port or '4000' }}/images/onie-installer"/> <em>Default URL will be selected; change to modify</em></td></tr>
        <tr><td/><td><input type="submit" value="Add"/></td></tr>
      </table>
    </form>

    <form id="csv-import-form" action="{{ url_for('import_csv') }}" method=post enctype="multipart/form-data">
      <p><div class="upload-btn-wrapper">
         <button class="upload-btn">Upload CSV file</button>
         <input id="csv-import" type="file" name="hosts_csv"/>
         </div>
      <small><a href="{{ url_for('import_csv') }}">CSV file format</a></small>
    </form>

  {% if entries %}
  <hr/>
  <ul class=entries>
  <table class="thinborder">
    <tr><th>Hostname</th><th>IP</th><th>MAC</th><th>Device ID</th><th>Type</th><th>URL</th><th>Activation</th><td/></tr>
  {% for entry in entries %}
    <tr>
        <td>{{ entry.hostname }}</td>
        <td>{{ entry.ip }}</td>
        <td>{{ entry.mac }}</td>
        <td>{{ entry.device_id }}</td>
        <td>{{ entry.device_type }}</td>
        <td>{% if entry.default_url %}<a href="{{ entry.default_url }}" title="{{ entry.default_url }}">custom</a>{% endif %}</td>
        <td>{% if activations_by_device_id.get(entry.device_id) %}active{% else %}<a href="{{ url_for('activate', deviceid=entry.device_id, devicetype=entry.device_type) }}" class="button-narrow">activate</a>{% endif %}</td>
        <td><a href="{{ url_for('remove_entry', entry_id=entry.id) }}" class="button-narrow">remove</a></td>
    </tr>
  {% endfor %}
  </table>
  {% endif %}
  <p/>
  <hr/>
  {% if services %}
  <h3>Services</h3>
  <table class="thinborder">
    {% for service in services %}
    <tr><td><span class="{% if service.status == 'RUNNING' %}green{% elif service.status == 'STOPPED' %}none{% else %}red{% endif %}-button"/></td><th>{{ service.service }}</th><td>{{ service.status }}</td><td>{{ service.details }}</td>
      <td>
          {% if service.status == 'RUNNING' %}
          <a href="{{ url_for('launch') }}" class="button">restart</a>
          <a href="{{ url_for('dhcp_stop') }}" class="button">stop</a>
          {% else %}
          <a href="{{ url_for('launch') }}" class="button">start</a>
          {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
  <p/>
  <hr/>
  {% endif %}
</div>

<div id="tab-leases" class="tabcontent">
    <h3>DHCP Leases</h3>

    <small><em><strong>Note:</strong> Static DHCP hosts are not listed here.</em></small><p/>
    <table id='tableases' class="thinborder">
        <thead>
        <tr><th>MAC</th><th>IP</th><th>Lease Start</th><th>Lease End</th><th>Active</th></tr>
        </thead>
        <tbody>
        {% for lease in dhcp_leases %}
        <tr><td><strong>{{ lease.ethernet }}</strong></td>
            <td>{{ lease.ip }}</td>
            <td>{{ lease.start }}</td>
            <td>{{ lease.end }}</td>
            <td align="center">{% if lease.active %}<span class="green-button"/>{% endif %}</td>
        </tr>
        {% else %}
        <tr><td colspan="5" align="center"><em>No leases</em></td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div id="tab-logs" class="tabcontent">
    <h3>Logs / Troubleshooting</h3>

    <strong>Download Logs</strong><br/>
    <div id="logdiv" style="overflow: auto; height: 10em; background-color: white;">
    </div>
    <p/>

    <strong>All Logs</strong>
    {% if logcat_status == "RUNNING" %}
    <div id="alllogsdiv" style="overflow: auto; height: 30em; background-color: white;">
    </div>
    <br/>
    <a href="{{ url_for('logcat_stop') }}" class="button-narrow">Stop Log Display</a>
    {% else %}
    <p/>
    <a href="{{ url_for('logcat_start') }}" class="button-narrow">Display all Logs</a>
    {% endif %}
    <p/>

    <strong>Tshark Logs</strong>
    <div id="tsharkdiv" style="overflow: auto; height: 20em; background-color: white;">
    </div>
    <br/>
    {% if tshark_status == "RUNNING" %}
    <a href="{{ url_for('tshark_stop') }}" class="button-narrow">Stop Tshark</a>
    {% else %}
    <a href="{{ url_for('tshark_start') }}" class="button-narrow">Start Tshark</a>
    {% endif %}
    <p/>

    <strong>Tech Support</strong>
    <p/>
    <a href="{{ url_for('techsupport') }}" class="button-narrow">Download Tech Support Bundle</a>

</div>

<script>
$( "#tableases" ).filterTable({minRows: 2});
</script>

{% endblock %}
